*{
  box-sizing: border-box;
  border: thin solid red;
}

#header{
  background-color: #41cec6;
}
#menu{
  background-color: #2e2e2e;
  color: #e0e0e0;
}
#menu > ul {
margin: 0;
padding: 0;
list-style-type: none;
}
#menu > ul > li {
  display: inline-block;
  padding: 0.2em;
}
#sidebar{
  background-color: #f8f8f8;
  padding: 0.5em;
}
.sidebar-title {
  font-size: 0.7em;
  font-weight: border;
}
#main{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
#content{
  grid-template-columns: 1fr 1fr 1fr;
}
.card-image{
  width: 100%;
  max-width: 100%;
}
#footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
