*{
  box-sizing: border-box;
}

#header{
  background-color: #41cec6;
}
#menu{
  background-color: #2e2e2e;
  color: #e0e0e0;
  font-family: Arial, "Arial", serif;
  font-weight: bold;
}
#menu > ul {
margin: 0;
padding: 0;
list-style-type: none;
}
#menu > ul > li {
  display: inline-block;
  padding: 0.2em;
}
#sidebar{
  background-color: #f8f8f8;
  padding: 0.5em;
  font-family: Arial, "Arial", serif;
  font-weight: bold;
}
.sidebar-title {
  font-size: 0.7em;
  font-weight: border;
}
#main{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
#content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-image img {
  width: 100%;
  max-width: 100%;
}
#banner img {
  width: 100%;
  max-width: 100%;
}
#footer{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr ;
  background-color: #32373a
}
.footer-separacion{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-col {
  padding: 2em;
  color: #8c9091;
  font-family: Arial, "Arial", serif;
  font-weight: bold;
}
.footer-title{
  padding-bottom: 1em;

}
.footer-content{
  font-size: 12px;

}
